extends ../../layouts/master
block content
  form(method='post', action='/apartments/#{apartment._id}/delete')
  
    button.btn.btn-danger(type='submit') Remove apartment
    a.btn.btn-info(href='/apartments/#{apartment._id}/edit') Edit apartment 
    
  
  
  .page-header
    h1= apartment.name
  p= apartment.address 
  
  table.table
    thead
      tr.active
        th Description
        th No. of Rooms
        th Price
    tbody
      tr.success
        td= apartment.description
        td= apartment.norooms
        td= apartment.price
    
  
  if(!apartment.isVacant)
    h3 Choose a tenant and assign a room
    form.form-inline(method='post', action='/apartments/#{apartment._id}/adopt')
      .form-group
        select#roomNo.form-control.input-sm(name='roomNos')
          -for(var n= 1; n <= apartment.norooms; n++){
          option #{n+100}
          -}
         
        select#tenantId.form-control.input-sm(name='tenantId')
          each tenant in tenants
            option(value=tenant._id)= tenant.name
      .form-group
        button.btn.btn-primary.btn-sm(type='submit') Assign
  
  
  table.table.table-striped
    thead
      tr
        th Room #
        th Tenant
    tbody
      tr
        for each room in rooms
          td= room.tenant
          td= room.roomNos
        
    
        
      
          
          
          
          
        

  
